body{
    background-color: rgb(255, 208, 0);
    display: flex;
    font-family: Mansalva;
    justify-content: center;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: right;
    background-position-y: 10px;
}

a:link{
    text-decoration:none
}

a:hover{
    text-decoration:underline
}

a:visited{
    color:black
}

a:active{
    color:cornflowerblue
}



#div_list_users{
    display:flex;
    flex-direction: column;
}



#div_list_users > #titre_list_users_css{
    align-self: center;
    position: relative;
    top: 175px;

    font-family: Mansalva;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 70px;
    text-align: center;

    color: #000000;
}

#list_users_css{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 826px;
    height: 50px;
    left: 0px;
    top: 269px;

    font-family: Mansalva;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

#comment_css{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 300px;
    height: 50px;
    left: 0px;
    top: 269px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#titre_date_seance_css{
    align-self: center;
    position: relative;
    top: 175px;

    font-family: Mansalva;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 70px;
    text-align: center;

    color: #000000;
}




#footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.671);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    font-family: Mansalva;
}

#modification_saisie_css{
    position: relative;

    left: 5px;
}

#Navbar{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    Top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    font-family: Mansalva;
}

div > #button_navbar_css{

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position:relative;
    left:80vw

    
}